packages: [
  "2-dark-syntax"
  "atom-beautify"
  "atom-css-comb"
  "atom-dark-fusion-syntax"
  "atom-dark-monokai-syntax"
  "atom-material-syntax"
  "atom-spotify2"
  "atom-visual-studio-code-ui"
  "atom-wrap-in-tag"
  "auto-replace-in-selection"
  "auto-update-packages"
  "autoclose-html"
  "autocomplete-modules"
  "autoprefixer"
  "base16-syntax"
  "block-comment-lines"
  "browser-plus"
  "build"
  "build-make"
  "busy-signal"
  "chronometer"
  "color-picker"
  "comment"
  "compare-files"
  "dark-petroleum-syntax"
  "docker"
  "flex-tool-bar"
  "git-plus"
  "gl-dark-syntax"
  "gulp-control"
  "highlight-selected"
  "html-to-css"
  "increment-selection"
  "intentions"
  "jquery-snippets"
  "language-arduino"
  "language-docker"
  "language-liquid"
  "language-markdown"
  "language-nginx"
  "language-slim"
  "language-terraform"
  "line-count-status"
  "linter"
  "linter-docker"
  "linter-eslint"
  "linter-js-yaml"
  "linter-jshint"
  "linter-json-lint"
  "linter-just-say-no"
  "linter-python"
  "linter-ruby-lint"
  "linter-sass-lint"
  "linter-terraform-syntax"
  "linter-ui-default"
  "local-history"
  "maximize-panes"
  "merge-conflicts"
  "minimap"
  "minimap-highlight-selected"
  "minimap-pigments"
  "multi-cursor"
  "new-tab"
  "no-caffeine-syntax"
  "node-debugger"
  "now-syntax"
  "package-sync"
  "php-twig"
  "pigments"
  "predawn-syntax"
  "processing"
  "processing-autocomplete"
  "processing-language"
  "pug"
  "quote-words"
  "random"
  "react"
  "regex-filter-and-generator"
  "remote-ftp"
  "remote-sync"
  "rest-client"
  "script"
  "seti-syntax"
  "seti-ui"
  "sort-lines"
  "sync-settings"
  "term3"
  "tool-bar"
]
